#root {
  text-align: center;
}

li {
}

.resultsHolder {
  display: inline-block;
}

.search {
  text-align: center;
}

.widgetBox {
  margin: 1em;
  width: 40em;
  height: 4em;
  border: 3px solid #213547;
  border-radius: 1em;
  text-align: center;
}
.sentimentContainer {
  outline: 1px solid red;
  display: flex;
  justify-content: center;
}
.sentimentGraphic {
  width: 25px;
  height: 25px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid black;
}

.sentimentGraphic {
  width: 25px;
  height: 25px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid black;
}

.veryBad {
  background-color: red;
}

.bad {
  background-color: pink;
}

.neutral {
  background-color: gray;
}

.good {
  background-color: lightgreen;
}

.veryGood {
  background-color: green;
}
