@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.App {
  align-items: center;
  background-color: #d5e4e9;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: "Inter", sans-serif;
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #0c2658;
}

.SearchBar {
  width: 40vw;
}

span {
  display: inline-block;
}
.bulletPoint {
  font-size: 0.7em;
  text-decoration: none;
}

.logoPicture {
  width: 10%;
  height: auto;
  margin-bottom: -2em;
}
.review {
  margin-left: 1em;
}

.bad {
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.slightBad {
  color: rgb(255, 234, 98);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.neutral {
  color: gray;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.slightGood {
  color: rgb(47, 255, 200);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.good {
  color: rgb(94, 255, 0);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.searchButton {
  cursor: pointer;
  margin: 1em;
  padding: 1em;
  border: 2px solid #0c2658;
  border-radius: 1em;
  transition: all 0.3s;
}
.searchButton:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}
/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
